---
import Layout from "../layouts/Layout.astro";
import htmlImg from "../img/html.png";
import cssImg from "../img/css.png";
import jsImg from "../img/js.png";
import nodejsImg from "../img/nodejs.png";
import reactjsImg from "../img/reactjs.png";
---
<Layout title="Skills">
    <!-- skills -->
<div class="skill-section">
    <!-- <h1 class="heading">skills</h1> -->
    <div class="skills-container">
        <div class="skill-card">
            <img src={htmlImg} alt=""class="skill-img" alt="">
            <!-- <div class="skill-level">98%</div> -->
            <h1 class="skill-name">HTML</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>

        <div class="skill-card">
            <img src={cssImg} class="skill-img" alt="">
            <!-- <div class="skill-level">98%</div> -->
            <h1 class="skill-name">CSS</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>

        <div class="skill-card">
            <img src={jsImg} class="skill-img" alt="">
            <!-- <div class="skill-level">98%</div> -->
            <h1 class="skill-name">JS</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>

        <div class="skill-card">
            <img src={nodejsImg} class="skill-img" alt="">
            <!-- <div class="skill-level">98%</div> -->
            <h1 class="skill-name">NODE JS</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>

        <div class="skill-card">
            <img src={reactjsImg} class="skill-img" alt="">
            <!-- <div class="skill-level">98%</div> -->
            <h1 class="skill-name">REACT JS</h1>
            <p class="skill-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, delectus!</p>
        </div>
        
    </div>
</div>
</Layout>

<style>
    .skill-section{
    position: relative;
    margin: 100px 0;
}

.heading{
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid;
}

/* .skill-card:nth-child(1) .skill-level{
    background: #ff4f4f28;
    border-color: #ff4f4f;
    color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level{
    background: #4fa0ff28;
    border-color: #4fa0ff;
    color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level{
    background: #ffed4f28;
    border-color: #ffed4f;
    color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level{
    background: #52ff4f28;
    border-color: #52ff4f;
    color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level{
    background: #4fdfff28;
    border-color: #4fdfff;
    color: #4fdfff;
} */
</style>